<html>

<head>
    <title>Host Game</title>
    <link rel="stylesheet" href="css/host.css">
</head>

<body>
    <script src="js/host.js"></script>

    <h1>Host Game</h1>

    <span id="gameId"></span>
    <input type="button" value="get gameid" id="getIdButton">
</body>

</html>