<html>

<head>
    <title>Host Game</title>
    <link rel="stylesheet" href="css/host.css">
</head>

<body>
    <h1>Host Game</h1>

    <span id="gameId"></span>
    <br>
    <input type="button" value="get gameid" id="idButton">

    <script src="js/host.js"></script>
</body>

</html>