<html>

<head>
    <title>Unfine Artists</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <script src="js/index.js"></script>

    <h1>Unfine Artists</h1>
    <span><a href='/join'>Join Game</a></span>
    <br>
    <span><a href='/host'>Host Game</a></span>
</body>

</html>