<html>

<head>
    <title>Join Game</title>
    <link rel="stylesheet" href="css/join.css">
</head>

<body>
    <h1>Join Game</h1>
    <input type="text" placeholder="game id" id="gameId">
    <br>
    <input type="button" value="join game" id="joinGameButton">

    <script src="js/join.js"></script>
</body>

</html>